* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  color: #ffffff;
  width: 150px;
  height: 64px;
  border: 0;
  /* padding: 18px 35px; */
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  background: #fd6e0a;
}
/* header and navigation title */
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: right bottom, left;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
/* banner styles */
.banner {
  margin: 0 200px;
  align-items: center;
  display: flex;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  /* position: absolute; */
  margin-bottom: 20px;
}
.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 5px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
/* main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  margin-top: 130px;
}
/* about section style */
.about {
  background: #fff8f3;
  border-radius: 10px;
  padding: 131px 157px;
  text-align: center;
}
.section-title {
  margin-bottom: 30px;
  color: #181818;
  font-weight: 700;
  font-size: 35px;
}
.section-description {
  color: #757575;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about .info-title {
  color: #757575;
  font-size: 20px;
}
.info-description {
  color: #474747;
  font-weight: 700;
  font-size: 20px;
}
/* what i do styles */
.section-title {
  text-align: center;
  margin-bottom: 170px;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  width: 267px;
  height: 377px;
}
.skiil img {
}
.skills-container {
  display: flex;
  gap: 24px;
  margin-bottom: 130px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  color: #181818;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  margin-top: 20px;
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 30px;
}
.resume-title {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}
/* Resume styles */